
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="/assets/js/bootstrap.bundle.min.js"
      crossorigin="anonymous"
    ></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->

    <script
      src="/assets/js/popper.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="/assets/js/bootstrap.min.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>