<%- include('partials/header'); %>
<!-- start content page -->
<div class="row m-0 h-100">
  <div
    class="col p-0 text-center d-flex justify-content-center align-items-center display-none"
  >
    <img src="/assets/images/login.svg" class="w-100" />
  </div>
  <div
    class="col p-0 bg-custom d-flex justify-content-center align-items-center flex-column w-100"
  >
    <form class="w-75" action="/auth/login" method="post">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Username</label
        >
        <input
          type="text"
          class="form-control"
          name="username"
          placeholder="username"
          required
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput2" class="form-label"
          >Password</label
        >
        <input
          type="password"
          class="form-control"
          name="password"
          placeholder="password"
          required
        />
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
            />
            <label class="form-check-label" for="flexCheckDefault">
              Keep me logged in
            </label>
          </div>
        </div>
      </div>
      <button
        id="login-btn"
        type="submit"
        class="btn btn-custom btn-lg btn-block mt-3"
      >
        Login Now
      </button>
    </form>
  </div>
</div>
<!-- start style -->
<style>
  body {
    padding: 0;
    margin: 0;
    height: 100vh;
    font-family: 'Nunito Sans';
  }

  .form-control {
    line-height: 2;
  }

  .bg-custom {
    background-color: #6c63ff;
  }

  .btn-custom {
    background-color: #3e3d56;
    color: #fff;
  }

  .btn-custom:hover {
    background-color: #33313f;
    color: #fff;
  }

  label {
    color: #fff;
  }

  a,
  a:hover {
    color: #fff;
    text-decoration: none;
  }

  a,
  a:hover {
    text-decoration: none;
  }

  @media (max-width: 932px) {
    .display-none {
      display: none !important;
    }
  }
</style>
<!-- end style -->
<!-- end content page -->
<%- include('partials/footer'); %>
